## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
makestuff
up.time
commit.time
commit.default
dotdir/
clonedir/
statistics_talks
math_talks
disease_model_talks
*.oldfile
up.time
commit.time
commit.default
dotdir/
clonedir/
*.oldfile
talkdir
txt.format
*.final.*
*.draft.*
*.handouts.*
*.complete.*
*.complete.*
webpix
surreal.step.mk
surreal.html
all.html
allsteps.mk
